<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        @Html.ActionLink("NServiceBus Quick Start", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Other resources <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://docs.particular.net/tutorials/step-by-step/" title="The step-by-step tutorial will teach you how to build NServiceBus systems using asynchronous messaging and Publish/Subscribe from the ground up.">Step-by-Step Tutorial</a>
                        <a class="dropdown-item" href="https://particular.net/chat" title="Our developers are available to answer your questions and help you be successful.">Chat with a developer</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.OutputNServiceBusInfo()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
    <script src="/Content/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
